<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="id.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <title>아이디 찾기</title>
</head>
<body>
    <div class="header">
        <ul>
            <div class="logo"><li>Logo</li></div>
            <div class="menu"><li><a href="/main-page/main.html" class="home">Home</a></li>
            <li><a href="#">서비스소개</a></li>
            <li><a href="#">문제집 생성</a></li>
            <li>ㅣ</li>
            <li><a href="/Signup_completed/signup_completed.html">회원가입</a></li>
            <li><a href="/login/login.html" class="login">로그인</a></li></div>
        </ul>
    </div>
    <div class="container">
        
        <div class="main">
            <h1>NO STACK</h1>
            <div class="find">
                <h3 class="find_item">아이디 찾기</h3>
                <h3><a href="/login_pw/pw.html" class="find_item">비밀번호 찾기</a></h3>
            </div>
            <div class="text">
                <p>휴대폰 본인인증을 통해</p>
                <p>아이디(이메일)를 확인합니다.</p>
            </div>
            
            </form>
            <div class="certify_go">
                <button type="button" class="button" onclick="location.href='Self_id.html'">휴대폰 인증 바로가기</button>
            </div>
        </div>
    </div>
</body>
</html>
