<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="category.css">
    <script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>카테고리 페이지</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="header">
      <p class="logo">NOSTACK</p>
      <nav class="navigation">
        <div class="nav-links">
          <div class="nav-link" onclick="location.href='../Main/main.html'">Home</div>
          <div class="nav-link" onclick="">서비스 소개</div>
          <div class="nav-link" onclick="">문제집 생성</div>
          <div class="divider"></div>
          <div class="nav-link" onclick="">마이페이지</div>
        </div>
    </div>
    </div>
        <div class="main">
          <div>
            <div class="card toys">
              <p class="category">Toys & Entertainment</p>
              <p class="title">회화</p>
            </div>
            <div class="card food">
              <p class="category">Toys & Entertainment</p>
              <p class="title">음식</p>
            </div>
          </div>
          <div>
            <div class="card exercise">
              <p class="category">Toys & Entertainment</p>
              <p class="title">운동</p>
            </div>
            <div class="card exercise">
              <p class="category">Toys & Entertainment</p>
              <p class="title">운동</p>
            </div>
          </div>
          <div class="card upload">
            <p class="category">Home & Living</p>
            <p class="title">파일 업로드</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
